<div class="page">
  <div class="page-wrapper {{fade}}">
    <div class="container">
      <div class="content">
        <h1 class="title">
          <span class="logo">
            <span>P</span><span>T</span><span>T</span>
          </span>
        </h1>
        <h2>
          Picture Identification Task
        </h2>

        <md-list>
          <md-list-item>
            <button md-button (click)="openSettings()">
              Settings
            </button>
          </md-list-item>
          <md-list-item>
            <button md-button (click)="startTask()">
              Start
            </button>
          </md-list-item>
          <md-list-item>
            <button md-button class="danger" (click)="exitApplication()">
              Exit
            </button>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
</div>
