
<div class="page">
    <div class="tiles">
        <div *ngFor="let tile of tiles; let i = index" *ngIf="tile.active" class="tile tile={{tile.stack}} color-light-{{tile.color}} {{tile.style}}-{{tile-color}}">
            <div class="tile-inner">
                <div *ngFor="let imageSrc of tile.images">
                    <img [src]="getImage(imageSrc)"/>
                </div>
            </div>
            <div class="visualiser">
                <div class="bar" [ngStyle]="tiles.visualiserStyle"></div>
            </div>
        </div>
    </div>
</div>
